# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dataset files
# Ignore large raw datasets
data/**/*.csv

# Allow processed dashboard data
!data/processed/
!data/processed/*.csv

# Allow generated AI outputs for dashboard
!outputs/*.csv

# Models
*.pkl
*.joblib
*.sav

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/